
/dist
/tmp
/src/app/app.service.ts

# dependencies
/node_modules
/bower_components
/angular-src/node_modules
/angular-src/demo
/public
# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/

# misc
/.sass-cache
/connect.lock
/coverage/*
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/e2e/*.js
/e2e/*.map

#System Files
.DS_Store
Thumbs.db
